fastapi[standard]==0.142.2 # framework(engine)
psycopg2-binary==2.9.13 # PostgreSQL for linux
PyJWT==2.15.1 # auth
SQLAlchemy==2.1.3 # ORM
passlib[argon2] # encryption
slowapi==0.1.10 # rate limit request 