<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="me-1 fst-italic">{{ nav_title }}</span>
      {{ nav_icon | safe }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <span class="font-monospace me-1">Hi {{ usr_username }}</span>
        {% if usr_is_administrator %}
            <i class="fa-solid fa-key"></i>
        {% endif %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="accordion accordion-flush" id="accordionFlushNavbar">
          {% for i in nav_menu %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                {% if i["sub"] %}
                <button
                  class="py-2 ps-1 accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-{{ loop.index0 }}"
                  aria-expanded="false"
                  aria-controls="flush-{{ loop.index0 }}"
                >
                  {{ i["icon"] | safe }}
                  {{ i["text"] }}
                </button>
                {% else %}
                  <a
                    class="py-2 ps-1 accordion-button collapsed text-decoration-none fw-normal"
                    href="{{ i['link'] }}"
                    style="--bs-accordion-btn-icon: none; --bs-accordion-btn-active-icon: none;"
                  > {{ i["icon"] | safe }} {{ i["text"] }}
                  </a>
                {% endif %}
              </h2>
              <div id="flush-{{ loop.index0 }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushNavbar">
                <div class="accordion-body py-2 ms-2">
                  <div class="accordion accordion-flush">
                    {% if i["sub"] %}
                      {% for j in i["sub"] %}
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <a
                              class="py-2 ps-1 accordion-button collapsed text-decoration-none fw-normal"
                              href="{{ j['link'] }}"
                              style="--bs-accordion-btn-icon: none; --bs-accordion-btn-active-icon: none;"
                            > {{ j["icon"] | safe }} {{ j["text"] }}
                            </a>
                          </h2>
                        </div>
                        {% endfor %}
                      {% endif %}                        
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="mb-5"></div>
